.main-about-page {
  background-size: cover;
  background-position: center;
  background-image: url('../images/portfolioBackground2.png');
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.about-title {
  color: whitesmoke;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  font-size: 3.5em;
}

.about-text {
  width: 60vw;
}

.about-text p {
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.about-button {
  color: #dbc690;
  border: 1px solid #dbc690;
  border-radius: 20px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  transition: 1.5s;
}

.about-button:hover {
  color: whitesmoke;
  background-color: #dbc690;
  box-shadow: 0 0 2.1em #d4ccb6;
  text-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 30px whitesmoke;
}